body {
  background-image: linear-gradient(to right, #778899, #ADD8E6, #778899);
  height: 100%;
  font-family: Brush Script MT;
}

.wrap {
  margin: auto;
  width: 350px;
}

.title {
  margin: 100px 0 40px;
  font-size: 26px;
}
